*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    font-family: "Heebo", sans-serif;
}
.font-small{
    font-size: 14px;
}
.pink-btn{
    background-color: #FBE9EB;
    color: #D6293E;
}
.fill-blue{
    background-color: #1D3B53;
}
.yellow-bg{
    background-color: #FEF6E0;
}
.grey-bg{
    background-color:#E8EBED;
}
.violet-bg{
    background-color:#F0ECF9;
}
.teal-bg{
    background-color:#E7F6F8;
}